<ion-content>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
    <ng-container *ngFor="let item of weatherHistoryCollection">
      <ion-card class="shadow-lg rounded-lg overflow-hidden">
        <div class="bg-cover bg-center h-40" [style.backgroundImage]="'url(data:image/png;base64,' + item.photoBase64 + ')'"></div>
        <ion-card-header class="text-white">
          <ion-card-subtitle class="text-sm">
            Taken From: {{ item.dateTaken.toLocaleString() | dateFormat }}
          </ion-card-subtitle>
        </ion-card-header>

        <ion-card-content class="p-4">
          <div class="font-semibold text-lg">{{ item.city }}</div>
          <div class="text-gray-600">Weather: {{ item.desc }}</div>
          <div class="text-gray-600">Temperature: {{ item.temp }}°C</div>
        </ion-card-content>
      </ion-card>
    </ng-container>
  </div>
</ion-content>
