<ion-header>
  <ion-toolbar>
    <ion-title> Login </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="login()">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="email" type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button
      shape="round"
      expand="full"
      type="submit"
      color="primary"
      [disabled]="form.invalid"
      >Login</ion-button
    >
    <div class="redirectToRegister">
      <span
        >Don't have an account?
        <ion-button
          fill="clear"
          size="small"
          class="redirect"
          routerLink="/register"
        >
          Sign Up</ion-button
        >
      </span>
    </div>
  </form>
</ion-content>
